node_modules

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
db.sqlite3
/static/
media/

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

# C extensions
*.so

# Distribution / packaging
.Python
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# dotenv
.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
